@model TipoUsuarios

@{
    ViewData["Title"] = "Log in";
}

<h1> Bienvenido al gestor. . </h1>
<form asp-controller="TipoUsuarios" style="width: 20rem; item-align: center;" asp-action="LogInUsuarios">
    <div class="mb-3">
        <label for="nombreUsuario" class="form-label"> Nombre </label>
        <input type="text" id="nombreUsuario" name="Nombre" class="form-control" />
        <label for="Password" class="form-label"> Password </label>
        <input type="text" id="Password" name="Password" class="form-control" />
    
    </div>
    <button type="submit" class="btn btn-primary">Logearse</button>
    <button type="submit" class="btn btn-danger">Salir</button>
</form>