@{
    ViewData["Title"] = "Reporte Excel";
    var hoy = DateTime.Today;
    var haceunMes = hoy.AddMonths(-1);
    var mesActual = hoy.Month;
    var a単oActual = hoy.Year;
    var mesAnterior = haceunMes.Month;
    var a単oAnterior = haceunMes.Year;
}
<partial name="_SubMenu" Model="SubMenuTransacciones.Excel"/>
<h1>Exportar Transacciones a Excel</h1>
<div class="mb-3">
    <a asp-action="ExportarExcelPorMes" asp-route-mes="@mesActual" asp-route-a単o="@a単oActual"
    class="btn btn-success">
        Exportar mes actual
    </a> ~ @hoy.ToString("MMMM yyyy")

</div>