@{
    ViewData["Title"] = "NoEncontrado";
}

<h3>el recurso solicitado No fue entrontrado</h3>
<h4> Click <a asp-action="IndiceDeCuentas" asp-controller="TiposCuentas"> Aqui</a> Para regresar al indice de cuentas</h4>