@model IEnumerable<TipoCuenta>

@{
    ViewData["Title"] = "Mis Cuentas";
}
    
<h1> Tipos Cuentas </h1>
<h5> El tipo de cuenta se refiere a como podemos agrupar las cuentas
    Ejemplo: Prestamos,  tarjetas, etc.</h5>
    <a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody id="reordenable">
            @foreach (var cuenta in Model)
            {
                <tr>
                    <td>
                        <!-- obtengo los id de manera rapida para luego reordenar -->
                        <input type="hidden" value="@cuenta.Id" class="ids" />
                        <a class="btn btn-primary" asp-action="Editar" asp-route-id="@cuenta.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@cuenta.Id">Borrar</a>
                    </td>
                    <td>
                        @cuenta.Nombre
                    </td>
                </tr>
            }
        </tbody>

    </table>
<!-- Utilizamos la libreria Jquery.ui para que las filas del listado puedan modificarse en su orden
    No olivdar que vamos a modificarse tambien El css de dichas filas con el Custom.cs-->
@section Scripts {
    <script>
        const urlOrdenar = Url.Action("ordenar");
        $(function(){
            $("#reordenable").sortable({
                stop: async function(e,ui){
                    await actualizarOrdenes();
                }
            });
            async function actualizarOrdenes(){
                const ids = obtenerIdsElementos();
                await enviarIdsAlBackEnd(ids);
            }
            async function obtenerIdsElementos(){
                const ids =$(".ids").map(function){
                        return $(this).val();
                    }).get();

                    return ids;
            }

            async function enviarIdsAlBackEnd(ids){
                var data = JSON.stringify(ids);

                await fetch(urlOrdenar,{
                    method: 'POST',
                    body: data,
                    headers : {
                        'Content-Type' : 'application/json'
                    }
                });
            }
        })
    </script>
}
