#reordenable tr{
    cursor: move;
}

.contenedor-totales{
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.pasivo{
    color: red;
}

.activo{
    color: blue;
}

