@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Reporte de transacciones detalladas";
}

<h1>Movimientos @ViewBag.Cuenta</h1>

<partial name="_ReporteTransaccionesDetalladas" model="Model"></partial>