@model TipoUsuarios

@{
    ViewData["Title"] = "Log in";
    Layout = "_layout";
}

<div class="card">
    <div class="card-body">
        <form asp-controller="TipoUsuarios" asp-action="LogInUsuarios">
            
                    <label for="nombreUsuario" class="form-label"> Nombre </label>
                    <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" />
                    <label for="Password" class="form-label"> Password </label>
                    <input type="password" id="Password" name="Password" class="form-control" style="margin-bottom:5px;"/>
                
            <button type="submit" class="btn btn-primary">Logearse</button>
            <button type="submit" class="btn btn-danger">Salir</button>
        </form>
    </div>
</div>