@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_layout";
}
<h1>Login</h1>
<form asp-action="LoginUsuarios">
    <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="from-check">
        <input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
        <label class="form-check-label" asp-for="Recuerdame"></label>
    </div>

    <button class="btn-primary btn">Ingresar</button>
    <a asp-action="Registro" class="btn btn-secondary">Registrarse</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}