@model RegistroViewModel

@{
    ViewDate["Title"] = "Registro";
    Layout ="_layout";
}

<h1>Regístrate</h1>
<form asp-action="Registro">
    <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button class="btn-primary btn">Registrate</button>
    <a class="btn btn-success" asp-action="LogInUsuarios">Deseo Loguearme</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}