@model TipoClientes

@{
    ViewData["Title"] = "Ver Cliente";
}
<h1>Esto un cliente</h1>
<h2> El cliente se llama @Model.nombre </h2>
<h2> El cliente se llama @Model.apellido </h2>
<h2> El cliente se llama @Model.email </h2>


